.Footer {
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.Footer a {
    float: right;
    text-align: center;
    padding: 0 15px;
    text-decoration: none;
    font-size: 17px;
}