section.banner-section{
    background: #000000;
    height: 600px;
}
.banner-text h1{
    color: #ffffff;
    font-size: 56px;
    padding-top: 45px;
    margin-left: 60px;

}
.banner-text p{
    color: #ffffff;
    font-size: 22px;
    margin-left: 60px;

}
.banner-text{
    max-width: 541px;
}
.Banner-btn-main{
    margin-left: 60px;
    font-size: 25px;
}
.btn-blue{
    background: #005cbf;
    color: #ffffff;
    border: 1px solid #005cbf;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 22px;
}
.banner-img img{
    height:300px;
    width: 350px;
    float: right;
}